[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.poetry]
name = "stl-to-voxel"
packages = [
    { include = "stltovoxel" },
]
version = "v0.0.0"
description = "Turn STL files into voxels, images, and videos"
readme = "README.md"
authors = ["Christian Pederkoff"]
license = "MIT"
classifiers = [
    "Programming Language :: Python",
    "Programming Language :: Python :: 3",
    "Topic :: Software Development :: Libraries :: Python Modules"
]
keywords = ['numpy', 'Pillow', 'matplotlib', 'numpy-stl']
repository = "https://github.com/cpederkoff/stl-to-voxel"


[tool.poetry.dependencies]
python = "^3.8"
matplotlib = "^3.6"
numpy = "^1.13"
Pillow = "^9.3"
numpy-stl = "^2.17"

[tool.poetry.scripts]
stltovoxel = "stltovoxel.__main__:main"
